//breakpoints that may or may not be used more than once. Refer to specific pages for really detailed queries
$laptop-l: "screen and (max-width: 1578px)";
$laptop-m: "screen and (max-width: 1240px)";
$laptop-s: "screen and (max-width: 1010px)";

//color variables. When I refactor the scss, I'll populate this

//pricing page
//card
/*
$lc-left-main-color;
$lc-left-header-color;
$lc-left-price-color;
$lc-left-subhead-color;
$lc-left-color-lightgray;
$lc-left-color-gray;
*/
