//breakpoints that may or may not be used more than once. Refer to specific pages for really detailed queries
$laptop-l: "screen and (max-width: 1578px)";
$laptop-m: "screen and (max-width: 1240px)";
$laptop-s: "screen and (max-width: 1010px)";