$card-picture-size: 112px;
#page-meetus {
  .carousel {
    .slide {
      &:nth-child(1) {
        width: 50%;
        #slide-bot {
          display: grid;
          grid-template-columns: 2fr 2fr;
          div {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            #container {
              display: grid;
              grid-template-rows: 0.3fr 3fr;
              width: 80%;
              #box-head {
                height: 100%;
                width: 224px;
                color: white;
                background-color: #1c2334;
              }
                #box-container {
                  position: relative;
                  height: 320px;
                  width: 224px;
                  background: #EAEDF1;
                  overflow: hidden;
                  #circle-container {
                    height: $card-picture-size;
                    width: $card-picture-size;
                    border: 12px solid #0099ff;
                    border-radius: 100px;
                    div {
                      position: absolute;
                      margin-left: 65px;
                      height: $card-picture-size;
                      width: $card-picture-size;
                      background-color: #EAEDF1;
                      -ms-transform: rotate(45deg); /* IE 9 */
                      -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
                      transform: rotate(45deg);
                    }
                    img {
                      height: $card-picture-size;
                      width: $card-picture-size;
                      border-radius: 100px;
                      z-index: 100;
                    }
                  }
                  #text-container {
                    p {
                      margin-top: -10px;
                      font-size: 0.9em;
                      color: gray;
                    }
                  }
                } //container
            } //div
          } //div
        } //slide-bot
      } //end slide

      &:nth-child(2) {
        #slide-top {
          display: flex;
          justify-content: center;
          padding-bottom: 50px;
          div {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70%;
            color: white;
            background-color: #0099ff;
            border-radius: 30px;
            a {
              font-weight: bold;
              text-decoration: none;
              color: #ff3300;
              text-shadow: 1px 1px white;
              &:hover {
                color: white;
              }
            }
          }
        }
        #slide-bot {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
        } //end of slide-bot
      } //
      //end slide
      
      //start media queries
      @media screen and (max-width: 1820px) {
        &:nth-child(1) {
          width: 80%;
        }
      }
      @media screen and (max-width: 1345px) {
        &:nth-child(1) {
          width: 85%;
        }
      }
      @media screen and (max-width: 1165px) {
        &:nth-child(1) {
          width: 90%;
        }
      }
      @media screen and (max-width: 850px) {
        &:nth-child(1) {
          width: 100%;
        }
      }
      @media screen and (max-width: 820px) {
        &:nth-child(1) {
          margin-top: 100px;
          #slide-bot {
            grid-template-columns: 100%;
            grid-template-rows: 2fr 2fr;
          }
        }
      }
      @media screen and (max-width: 375px) {
        &:nth-child(1) {
          margin-top: 120px;
        }
      }

      
    } //
    
    
    @media screen and (max-width: 820px) {
      display: grid;
      grid-template-rows: 1.5fr 1.5fr 1fr;
      #slide-controls {
        margin-left: 50px;
      }
    }
  }
}
