#page-pricing {  
  .largecard {//-
    display: grid;
    grid-template-columns: 2fr 2fr;
    height: 500px;
    width: 600px;
    max-height: 500px;
    min-height: 500px;
    max-width: 600px;
    min-width: 600px;
    border: 1px solid black;
    .largecard-left {//--
      display: grid;
      grid-template-rows: 0.5fr 1.5fr auto; 
      .lc-head {//---
        text-align: center;
      }
      .lc-price {//---
        display: grid;
        grid-template-columns: 2fr 2fr;
        text-align: right;
        .lc-price-left {//----
          display: inline-flex;
          justify-content: flex-end;
          span {
            margin-top: 45px;
          }
          h2 {
            margin-top: -30px;
            font-size: 9em;
          }
        }
        .lc-price-right {//----
          display: grid;
          grid-template-rows: auto 3fr;
          text-align: left;

          .lc-price-right-top {
            font-size: 1.6em;

          }
          .lc-price-right-bot {
            font-size: 1.4em;

            h4 {
              margin-top: -30px;
            }
          }
        }
      }
    }
    .largecard-right {
      display: grid;
      grid-template-rows: 0.2fr 3fr 0.5fr 0.5fr;
      .lc-table-head {
        display: grid;
        grid-template-columns: 2fr 2fr;
        div {
          display: flex;
          justify-content: center;
          align-items: flex-end;
        }
      }
      .lc-table-body {
        display: flex;
        justify-content: center;
        .table-container {
          width: 100%;
          div {
            display: grid;
            grid-template-columns: 2fr 2fr;
            .left {
              display: flex;
              justify-content: center;
              
            }
            .right {
              display: flex;
              justify-content: center;
            }
          }
          
        }
      }
    }
  }
}